In [1]:
import pandas as pd
import duckdb

In [2]:
# Connect to Database
con = duckdb.connect(database='database.db', read_only=False)

In [3]:
# Mac Path
# nets_pub_data = pd.read_stata('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/all_data/hq_companies_public_maris.dta')
# nets_all_data = pd.read_stata('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/all_data/hq_all_maris.dta')
# compustat_all = pd.read_stata('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/all_data/compustat.dta')
# Workstation Path
nets_all_data = pd.read_stata('S:/Users/Hiwi/Maris/name_matching/Data/hq_all_maris.dta')
nets_pub_data = pd.read_stata('S:/Users/Hiwi/Maris/name_matching/Data/hq_companies_public_maris.dta')
nets_city_state = pd.read_stata('S:/Users/Hiwi/Maris/name_matching/Data/nets_city_state.dta')
compustat_all = pd.read_stata('S:/Users/Hiwi/Maris/name_matching/Data/compustat.dta')

# ['HQDuns', 'HQCompany', 'HQAdress','HQZipCode', 'HQCity', 'HQState', 'HQArea', 'HQPhone', 'Latitude', 'Longitude', 'LevelCode']

In [4]:
nets_city_state.sample(1)

             hqduns                          hqcity  hqzipcode
67937642  616966347  OCALA                               34474

In [5]:
compustat_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42979 entries, 0 to 42978
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gvkey      42979 non-null  int32
 1   datadate   42979 non-null  object
 2   fyear      42808 non-null  float64
 3   indfmt     42979 non-null  object
 4   consol     42979 non-null  object
 5   popsrc     42979 non-null  object
 6   datafmt    42979 non-null  object
 7   tic        42979 non-null  object
 8   hqcompany  42979 non-null  object
 9   curcd      42979 non-null  object
 10  costat     42979 non-null  object
 11  hqaddress  42979 non-null  object
 12  add2       42979 non-null  object
 13  add3       42979 non-null  object
 14  add4       42979 non-null  object
 15  hqzipcode  42979 non-null  object
 16  city       42979 non-null  object
 17  conml      42979 non-null  object
 18  state      42979 non-null  object
 19  hqzip4     33973 non-null  float64
dtypes: float64(2), int32(1), object(17)
memory usage: 6.7+ MB

In [6]:
# compustat_geocoded = pd.read_stata('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/all_data/compustat_geocoded_final.dta')
compustat_geocoded = pd.read_stata('S:/Users/Hiwi/Maris/name_matching/Data/compustat_geocoded_final.dta')
# ['gvkey', 'hq_address_compustat', 'count', 'lat', 'lon']
print(compustat_geocoded.info())
compustat_geocoded

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42980 entries, 0 to 42979
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gvkey                 42980 non-null  int32
 1   hq_address_compustat  42980 non-null  object
 2   count                 42980 non-null  float32
 3   lat                   41999 non-null  float64
 4   lon                   41999 non-null  float64
dtypes: float32(1), float64(2), int32(1), object(1)
memory usage: 1.6+ MB
None

,gvkey,hq_address_compustat,count,lat,lon
0,1000,,1.0,NaN,NaN
1,1001,1924 South Utica Avenue Tulsa OK,2.0,-95.968066,36.134328
2,1002,124 Industry Lane Hunt Valley MD,3.0,-76.641662,39.467797
3,1003,7700 Hall Street St. Louis MO,4.0,-90.225770,38.707338
4,1004,1100 North Wood Dale Road Wood Dale IL,5.0,-87.981054,41.986749
...,...,...,...,...,...
42975,351491,Via Puglia n. 35 Turin,42976.0,7.723420,45.106830
42976,351590,Fasanenweg 10 Leinfelden-Echterdingen,42977.0,9.145069,48.707416
42977,352262,Hamilton,42978.0,175.281099,-37.789474
42978,353444,The Heights Building 5 Weybridge,42979.0,-0.462543,51.352960
42979,353945,Bruggerstrasse 71a Baden,42980.0,8.301259,47.479280

In [7]:
con.execute('DROP TABLE IF EXISTS compustat_geocoded')
con.execute('CREATE TABLE compustat_geocoded AS SELECT * FROM compustat_geocoded')
con.sql('SELECT DISTINCT COUNT(gvkey) FROM compustat_geocoded;')

┌──────────────┐
│ count(gvkey) │
│    int64     │
├──────────────┤
│        42980 │
└──────────────┘

-- START OF COMPUSTAT PREPROCESSING --

In [8]:
con.execute('DROP TABLE IF EXISTS compustat')
con.execute('CREATE TABLE compustat AS SELECT DISTINCT gvkey, hqcompany, hqzipcode, city FROM compustat_all')
con.sql('SELECT DISTINCT COUNT(*) FROM compustat;')

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        42979 │
└──────────────┘

In [9]:
"""
Extract entries of compustat_geocoded that are not in all_data_cleaned
"""
query_str = """
SELECT compustat_geocoded.gvkey
FROM compustat_geocoded
LEFT JOIN compustat ON compustat_geocoded.gvkey = compustat.gvkey
WHERE compustat.gvkey IS NULL;
"""
con.sql(query_str).fetchdf()
# (duckdb.sql(query_str).to_df()).to_excel('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/preprocessed_data/missing_entries_compustat.xlsx', index=False)

   gvkey
0   9007

In [10]:
print(compustat_all.loc[compustat_all['gvkey'] == 1001])
compustat_geocoded.loc[compustat_geocoded['gvkey'] == 1001]

   gvkey    datadate   fyear indfmt consol popsrc datafmt    tic  \
1   1001  1978-12-31  1978.0   INDL      C      D     STD  AMFD.

                 hqcompany curcd costat                hqaddress add2 add3  \
1  A & M FOOD SERVICES INC   USD      I  1924 South Utica Avenue

  add4 hqzipcode   city                    conml state  hqzip4
1          94104  Tulsa  A & M Food Services Inc    OK  9410.0

   gvkey              hq_address_compustat  count        lat        lon
1   1001  1924 South Utica Avenue Tulsa OK    2.0 -95.968066  36.134328

In [11]:
"""
In this cell, we want to join the geo date from compustat_geocoded with the other data from compustat_all
Also, we want to trim and upper case the city names to make the join more robust
"""

con.execute('ALTER TABLE compustat ADD COLUMN lat DECIMAL(9,6)')
con.execute('ALTER TABLE compustat ADD COLUMN lon DECIMAL(9,6)')

# TODO: Note that lat and lon are switched in compustat_geocoded. This is probably a mistake in the geocoding process
sql_query = """
UPDATE compustat
SET lat = compustat_geocoded.lon,
    lon = compustat_geocoded.lat
FROM compustat_geocoded
WHERE compustat.gvkey = compustat_geocoded.gvkey;
"""
con.execute(sql_query)
con.sql('UPDATE compustat SET city = UPPER(TRIM(city));')

In [12]:
"""
Appearantly, there are 2196 ETFS in the compustat dataset. We want to get rid of them.
"""
sql_query = """
SELECT *
FROM compustat
WHERE REGEXP_MATCHES(hqcompany, '\\bETF\\b');
"""
con.sql(sql_query)

┌────────┬──────────────────────────────┬────────────┬───────────────┬──────────────┬──────────────┐
│ gvkey  │          hqcompany           │ hqzipcode  │     city      │     lat      │     lon      │
│ int32  │           varchar            │  varchar   │    varchar    │ decimal(9,6) │ decimal(9,6) │
├────────┼──────────────────────────────┼────────────┼───────────────┼──────────────┼──────────────┤
│  16709 │ PROSHARES MERGER ETF         │ 20814      │ BETHESDA      │    38.982081 │   -77.093941 │
│  17051 │ GLOBAL X JUNIOR MLP ETF      │ 10158      │ NEW YORK      │    40.749096 │   -73.975398 │
│  17360 │ INVESCO S&P SMCP LOW VOL ETF │ 60515      │ DOWNERS GROVE │    41.822742 │   -88.031668 │
│  17682 │ ALPS ETF VLCTYSHRS EMG MKTS  │ 80203      │ DENVER        │    39.736700 │  -104.987340 │
│  18988 │ CI MRNGSTR US MO INDEX ETF   │ M5J 0A3    │ TORONTO       │    43.653524 │   -79.383907 │
│  19008 │ FIDELITY MSCI INFO TECH ETF  │ 94105-2618 │ SAN FRANCISCO │    37.789152 │  -122.395878 │
│  19553 │ RBC QUANT CDN DIV LEADRS ETF │ M5V 3K7    │ TORONTO       │    43.645845 │   -79.385746 │
│  19809 │ BMO MSCI EAFE INDEX ETF      │ M5K 1J5    │ TORONTO       │    43.671294 │   -79.384772 │
│  19949 │ GLOBAL X GURU INTL INDEX ETF │ 10158      │ NEW YORK      │    40.749096 │   -73.975398 │
│  20723 │ INVESCO MULTI-STRTGY ALT ETF │ 60515      │ DOWNERS GROVE │    41.822742 │   -88.031668 │
│    ·   │             ·                │   ·        │    ·          │        ·     │        ·     │
│    ·   │             ·                │   ·        │    ·          │        ·     │        ·     │
│    ·   │             ·                │   ·        │    ·          │        ·     │        ·     │
│ 187242 │ RUSSELL EQUITY INCOME ETF    │ 98101      │ SEATTLE       │    47.607713 │  -122.338236 │
│ 187312 │ RUSSELL 2000 HIGH BETA ETF   │ 98101      │ SEATTLE       │    47.607713 │  -122.338236 │
│ 187754 │ COLUMBIA EM QUALITY DIVI ETF │ 02210      │ BOSTON        │    42.352992 │   -71.052367 │
│ 187804 │ VANECK MORTGAGE REIT INC ETF │ 10017      │ NEW YORK      │    40.751203 │   -73.974362 │
│ 189492 │ RBC TARGET 2013 CORP BD ETF  │ M5V 3K7    │ TORONTO       │    43.645845 │   -79.385746 │
│ 189494 │ RBC TARGET 2015 CORP BD ETF  │ M5V 3K7    │ TORONTO       │    43.645845 │   -79.385746 │
│ 191756 │ BMO CVRD CL DJIA HD CAD ETF  │ M5K 1J5    │ TORONTO       │    43.671294 │   -79.384772 │
│ 191964 │ INVESCO KBW BANK ETF         │ 60515      │ DOWNERS GROVE │    41.822742 │   -88.031668 │
│ 194457 │ PIMCO CANADA BOND INDEX ETF  │ 92660      │ NEWPORT BEACH │    33.619506 │  -117.873802 │
│ 195556 │ GLOBAL X SOCIAL MEDIA ETF    │ 10158      │ NEW YORK      │    40.749096 │   -73.975398 │
├────────┴──────────────────────────────┴────────────┴───────────────┴──────────────┴──────────────┤
│ 3197 rows (20 shown)                                                                   6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
"""
We delete all entries that contain the substring 'ETF'
"""
sql_query = """
DELETE FROM compustat
WHERE REGEXP_MATCHES(hqcompany, '\\bETF\\b');
"""
con.execute(sql_query)
con.sql('SELECT * FROM compustat;').fetchdf()

,gvkey,hqcompany,hqzipcode,city,lat,lon
0,1000,A & E PLASTIK PAK INC,,,NaN,NaN
1,1004,AAR CORP,60191,WOOD DALE,41.986749,-87.981054
2,1009,ABS INDUSTRIES INC,44904,WILLOUGHBY,41.639570,-81.406850
3,1015,ADI ELECTRONICS INC,11779,RONKONKOMA,40.783736,-73.090500
4,1019,AFA PROTECTIVE SYSTEMS INC,11791-5319,SYOSSET,40.804278,-73.517759
...,...,...,...,...,...,...
39777,327451,GRINDROD SHIPPING,089763,SINGAPORE,1.273422,103.840856
39778,332115,ARMATA PHARMACEUTICALS INC,90292,MARINA DEL REY,33.983990,-118.434767
39779,345764,T STAMP INC,30305,ATLANTA,33.839265,-84.378456
39780,349530,NEXTPLAY TECHNOLOGIES INC,33323,SUNRISE,26.141587,-80.339874
39781,353444,HALEON PLC,KT13 0NY,WEYBRIDGE,51.352960,-0.462543

In [14]:
"""
In this Cell we want to preprocess the names of the compustat datasets
"""
# most common substrings in company names
compustat_substring = ['INC', 'CORP', 'LTD', 'GROUP', 'CO', 'CORP']
#TODO: Maybe get rid of things like 'ENTERPRISES', 'PROPERTIES', 'INTERNATIONAL', 'TECHNOLOGIES'
#TODO: Mauybe ged rid of terms like -old or -llp
#TODO replace terms like technologie through special characters like $ or ˆ, since they are often used in company names
# other: ['etf', 'financial', 'bancorp', 'holdings', 'energy']

# query_str = """
# UPDATE compustat
#     SET conm = REGEXP_REPLACE(conm, '(\\bLLC\\b)|(\\bINC\\b)|(\\bLTD\\b)|(\\bGROUP\\b)|(\\bCO\\b)|(\\bCORP\\b)|(\\s+)|(\\-)', '', 'g')
# """
#TOOD: We replace longer terms with their abbreviations, to reduce their weight in the name, but keeping them, to improve matching score
query_str = """
UPDATE compustat
SET hqcompany = TRIM(
    REGEXP_REPLACE(
        REGEXP_REPLACE(
            REGEXP_REPLACE(
                REGEXP_REPLACE(
                    REGEXP_REPLACE(
                        REGEXP_REPLACE(
                            REGEXP_REPLACE(
                                REGEXP_REPLACE(
                                    REGEXP_REPLACE(
                                        REGEXP_REPLACE(
                                            REGEXP_REPLACE(
                                                REGEXP_REPLACE( 
                                                    REGEXP_REPLACE(
                                                        REGEXP_REPLACE(
                                                            REGEXP_REPLACE(
                                                                REGEXP_REPLACE(
                                                                    REGEXP_REPLACE(
                                                                        REGEXP_REPLACE(
                                                                            REGEXP_REPLACE(hqcompany, 'INCORPORATED', 'INC'),
                                                                        'LIMITED', '`LTD'),
                                                                    'CORPORATION', 'CORP'),
                                                                'COMPANY', 'CO'),
                                                            'HOLDINGS', 'HLDGS'),
                                                        'GROUP', 'GRP'),
                                                    'INTERNATIONAL', 'INTL'),
                                                'TECHNOLOGIES', '@'),
                                            'THERAPEUTICS', '^'),
                                        'PHARMACEUTICALS', '$'),
                                    'INDUSTRIES', 'IND'),
                                'TECHNOLOGY', '!'),
                            'FINANCIAL', ')'),
                        'COMMUNICATIONS', '('),
                    'PROPERTIES', '\'),
                '\\b-\\b', ''),
            '\\s+', '', 'g'),
        'BANCORPINC', '}'),
    'HLDGSINC', '{')
    )
"""
con.execute(query_str)

In [15]:
# """
# Clean up the phone numbers from whitespaces and dashes
# """
# query_str = """
# UPDATE compustat
#     SET phone = REGEXP_REPLACE(phone, '(\\s+)|-', '', 'g')
# """
# con.execute(query_str)
# con.sql('SELECT * FROM compustat WHERE hqcompany LIKE \'%!%\' LIMIT 10').fetchdf()


-- END OF COMPUSTAT PREPROCESSING --


-- START OF NETS PREPROCESSING --

In [16]:
con.execute('DROP TABLE IF EXISTS nets_all')
con.execute('CREATE TABLE nets_all AS SELECT hqduns, hqcompany, latitude, longitude, FROM nets_all_data')
#con.sql('SELECT * FROM nets;').fetchdf().info()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [17]:
"""
In this Cell we want to preprocess the names of the NETS datasets

NETS_substring = ['LLC', 'INC', 'OF', 'GROUP', 'SERVICES', 'CO', 'CORP']
other: ['a', 'construction', 'enterprises']
"""
#TODO: get rid of things like 'ENTERPRISES', 'PROPERTIES', 'INTERNATIONAL', 'TECHNOLOGIES', 'INCORPORATED', 'CORPORATION', 'COMPANY since acronyms like inc. arent that common in nets.
#TODO: Maybe we need more preprocessing for NETS since there are a lot of entries that are not in compustat

# query_str = """
# UPDATE nets
#     SET hqcompany = REGEXP_REPLACE(hqcompany, '(\\bLLC\\b)|(\\bINC\\b)|(\\bLTD\\b)|(\\bGROUP\\b)|(\\bCO\\b)|(\\bCORP\\b)|(\\s+)|(\\-)', '', 'g')
# """
query_str = """
UPDATE nets_all
SET hqcompany = TRIM(
    REGEXP_REPLACE(
        REGEXP_REPLACE(
            REGEXP_REPLACE(
                REGEXP_REPLACE(
                    REGEXP_REPLACE(
                        REGEXP_REPLACE(
                            REGEXP_REPLACE(
                                REGEXP_REPLACE(
                                    REGEXP_REPLACE(
                                        REGEXP_REPLACE(
                                            REGEXP_REPLACE(
                                                REGEXP_REPLACE( 
                                                    REGEXP_REPLACE(
                                                        REGEXP_REPLACE(
                                                            REGEXP_REPLACE(
                                                                REGEXP_REPLACE(
                                                                    REGEXP_REPLACE(
                                                                        REGEXP_REPLACE(
                                                                            REGEXP_REPLACE(hqcompany, 'INCORPORATED', 'INC'),
                                                                        'LIMITED', '`LTD'),
                                                                    'CORPORATION', 'CORP'),
                                                                'COMPANY', 'CO'),
                                                            'HOLDINGS', 'HLDGS'),
                                                        'GROUP', 'GRP'),
                                                    'INTERNATIONAL', 'INTL'),
                                                'TECHNOLOGIES', '@'),
                                            'THERAPEUTICS', '^'),
                                        'PHARMACEUTICALS', '$'),
                                    'INDUSTRIES', 'IND'),
                                'TECHNOLOGY', '!'),
                            'FINANCIAL', ')'),
                        'COMMUNICATIONS', '('),
                    'PROPERTIES', '\'),
                '\\b-\\b', ''),
            '\\s+', '', 'g'),
        'BANCORPINC', '}'),
    'HLDGSINC', '{')
    )
"""
con.execute(query_str)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [18]:
# """
# In this Cell we want to extract the area code and the phone number from the NETS data
# and concatenate them to one column which then will be added to the NETS data.
# Afterwards we will compare the phone numbers of the two datasets and see if they match.
# """
# con.execute('ALTER TABLE nets ADD COLUMN hqphone_concatenated VARCHAR(255)')
# query_str = """
# UPDATE nets
# SET hqphone_concatenated = REGEXP_REPLACE(
#             REGEXP_REPLACE((CONCAT(hqarea, hqphone)), '(\\s+)|-', '', 'g')
#           , '^$', '-1');
# """
# con.execute(query_str)

In [19]:
"""
In this Cell we will fix the longitudes of the NETS data
"""
#TODO: The coordinates are not correct in our NETS sample.  Google maps gives us -119.xxxx
#TODO: Lat-long coordinates for cities in United States are in range: Latitude from 19.50139 to 64.85694 and longitude from -161.75583 to -68.01197. (Source: https://latitudelongitude.org/us/)
# TODO maybe we need to adjust the coordinates according to levelcode
sql_query = """
    UPDATE nets_all
    SET longitude = -longitude;
"""
con.execute(sql_query)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [20]:
"""
In this cell we will join the zip codes and cities to the NETS data
Also we will trim the city names to make the join more robust
"""
con.execute('ALTER TABLE nets_all ADD COLUMN hqzipcode VARCHAR(255)')
con.execute('ALTER TABLE nets_all ADD COLUMN hqcity VARCHAR(255)')
query_str = """
UPDATE nets_all
SET hqzipcode = nets_city_state.hqzipcode,
    hqcity = nets_city_state.hqcity
FROM nets_city_state
WHERE nets_all.hqduns = nets_city_state.hqduns;
"""
con.execute(query_str)
con.execute('UPDATE nets_all SET hqcity = UPPER(TRIM(hqcity));')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [21]:
con.execute('SELECT * FROM nets_all LIMIT 1000').fetchdf().sample(10)

,hqduns,hqcompany,latitude,longitude,hqzipcode,hqcity
917,1008817,CALIBERCONSULTINGINC,40.757900,-73.968903,10022,NEW YORK
509,1004485,VISIONSECURITY,39.020500,-94.705299,66203,SHAWNEE MISSION
607,1005482,RESIDENTIALCONTRACTORSINC,40.528702,-85.673698,46953,MARION
648,1005847,K&FLOCKSMITHSERVICE,41.231701,-74.592598,7461,SUSSEX
41,1000355,HARRISONSPECIALTYCOINC,42.190601,-71.158203,2021,CANTON
135,1001127,GREENTARAHAWAII,19.995600,-155.742294,96743,KAMUELA
618,1005560,ABBOTTEDCOINC,42.345600,-71.086998,2115,BOSTON
942,1009039,HOMEMAINTENANCESERVICE,42.027599,-71.209297,2048,MANSFIELD
276,1002344,G&TENTERPRISESINC,35.451698,-82.530403,28704,ARDEN
246,1002054,BOMASMACHINESPECIALTIESINC,42.378899,-71.101898,2143,SOMERVILLE

-- NETS PUB PREPROCESSING --

In [22]:
con.execute('DROP TABLE IF EXISTS nets_pub')
con.execute('CREATE TABLE nets_pub AS SELECT hqduns, hqcompany, latitude, longitude, FROM nets_pub_data')

In [23]:
"""
In this Cell we want to preprocess the names of the NETS datasets
"""
query_str = """
UPDATE nets_pub
SET hqcompany = TRIM(
    REGEXP_REPLACE(
        REGEXP_REPLACE(
            REGEXP_REPLACE(
                REGEXP_REPLACE(
                    REGEXP_REPLACE(
                        REGEXP_REPLACE(
                            REGEXP_REPLACE(
                                REGEXP_REPLACE(
                                    REGEXP_REPLACE(
                                        REGEXP_REPLACE(
                                            REGEXP_REPLACE(
                                                REGEXP_REPLACE( 
                                                    REGEXP_REPLACE(
                                                        REGEXP_REPLACE(
                                                            REGEXP_REPLACE(
                                                                REGEXP_REPLACE(
                                                                    REGEXP_REPLACE(
                                                                        REGEXP_REPLACE(
                                                                            REGEXP_REPLACE(hqcompany, 'INCORPORATED', 'INC'),
                                                                        'LIMITED', '`LTD'),
                                                                    'CORPORATION', 'CORP'),
                                                                'COMPANY', 'CO'),
                                                            'HOLDINGS', 'HLDGS'),
                                                        'GROUP', 'GRP'),
                                                    'INTERNATIONAL', 'INTL'),
                                                'TECHNOLOGIES', '@'),
                                            'THERAPEUTICS', '^'),
                                        'PHARMACEUTICALS', '$'),
                                    'INDUSTRIES', 'IND'),
                                'TECHNOLOGY', '!'),
                            'FINANCIAL', ')'),
                        'COMMUNICATIONS', '('),
                    'PROPERTIES', '\'),
                '\\b-\\b', ''),
            '\\s+', '', 'g'),
        'BANCORPINC', '}'),
    'HLDGSINC', '{')
    )
"""
con.execute(query_str)

In [24]:
"""
In this Cell we will fix the longitudes of the NETS data
"""
#TODO: The coordinates are not correct in our NETS sample.  Google maps gives us -119.xxxx
#TODO: Lat-long coordinates for cities in United States are in range: Latitude from 19.50139 to 64.85694 and longitude from -161.75583 to -68.01197. (Source: https://latitudelongitude.org/us/)
# TODO maybe we need to adjust the coordinates according to levelcode
sql_query = """
    UPDATE nets_pub
    SET longitude = -longitude;
"""
con.execute(sql_query)

In [25]:
# con.execute('SELECT * FROM nets').fetch_df().to_excel('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/preprocessed_data/nets_preprocessed.xlsx', index=False)
# con.execute('SELECT * FROM compustat').fetchdf().to_excel('/Users/marisbuttmann/Desktop/HIWI_code/geocode_project/preprocessed_data/compustat_preprocessed.xlsx', index=False)

In [ ]:
con.commit()
con.close()